[Unit]
Description=Nginx load balancer for web server backends

# Requirements
Requires=etcd.service
Requires=docker.service

# Dependency ordering
After=etcd.service
After=docker.service

[Service]
# Let the process take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Pre-start and Start
## Directives with "=-" are allowed to fail without consequence
ExecStartPre=-/usr/bin/docker kill nginx-etcd-loadbalancer
ExecStartPre=-/usr/bin/docker rm nginx-etcd-loadbalancer
ExecStartPre=/usr/bin/docker pull giorgos/nginx-etcd-loadbalancer
ExecStart=/usr/bin/docker run --name nginx-etcd-loadbalancer -p ${COREOS_PUBLIC_IPV4}:80:80 \
giorgos/nginx-etcd-loadbalancer /usr/local/bin/confd-watch

# Stop
ExecStop=/usr/bin/docker stop nginx-etcd-loadbalancer

[X-Fleet]
X-Conflicts=nginx.service

